@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.swiper-button-next, .swiper-button-prev {
  --swiper-navigation-color:black;
  padding: 2px;
  z-index: 1;
background-color:white;
box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
border-radius: 9999px;
  width:auto;
  height:auto


}
.swiper-button-white{
  color:aliceblue
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-pagination-fraction 
{
  color: white;
  left: 30%;

}